<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accueil</title>
</head>
<body>
<p>Mon nombre préféré est {{ nombre }}.</p>
<div>
    Mes films préférés sont :
    {% for film in films %}
        <div>{{ film }}</div>
    {% endfor %}
</div>
{#
    Un commentaire
#}
{% set promo = 'HD2WM143' %}
<p>{{ promo | capitalize }}</p>

{% set couleurs = ['red', 'blue', 'purple'] %}
<p>Il y a {{ couleurs | length }} couleurs.</p>
{% for couleur in couleurs %}
    <div style="color: {{ couleur }}">{{ couleur }}</div>
{% endfor %}

{% set tesla = {
    marque: 'Tesla',
    modele: '3'
} %}
{% for attribut, valeur in tesla %}
    <p>{{ attribut }} : {{ valeur }}</p>
{% endfor %}

<p>Aujourd'hui nous sommes en {{ "now" | date('Y') }}</p>
<p>L'année prochaine nous serons en {{ "+1 year" | date('Y') }}</p>
</body>
</html>